@import url(/Flex/WebFonts/css/fontiran.css); /* لینک فایلی که وظیفه بارگذاری فونت ها را برعهده دارد */

body {
  font-family: iranyekan !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: iranyekan !important;
}
h1 {
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 65%;
  margin: 0 auto;
}

header {
  box-shadow: 0px 1px 30px 0px rgba(1, 89, 245, 0.3);
  margin-bottom: 40px;
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}

.top-header .menu {
  display: flex;
}

.top-header .menu li a {
  color: #929292;
  font-size: 16px;
}

.top-header .menu li a::after {
  content: "/";
  margin: 0 0.75rem;
}

.top-header .menu li:last-child a::after {
  content: "";
}

.top-header .member {
  display: flex;
}

.top-header .member .profile {
  padding: 0.5rem;
  border: 2px solid #0159f5;
  border-radius: 40px;
  background-color: #fff;
}
.top-header .profile .icon {
  vertical-align: middle;
}

.top-header .profile .icon-arrow img {
  width: 10px;
  height: 10px;
}

.top-header .profile .text {
  color: #929292;
  font-size: 16px;
  margin: 0 0.5rem;
}

.top-header .card {
  width: 45px;
  height: 45px;
  margin-right: 1rem;
  padding: 0.5rem 0.85rem 0.6rem 0.5rem;
  border: 2px solid #0159f5;
  border-radius: 100%;
}

.top-header .card .icon {
  vertical-align: middle;
}

.sec {
  display: flex;
  justify-content: space-between;
}

.sec .latest {
  position: relative;
  width: 23%;
  height: 420px;
  overflow: hidden;
  border-radius: 20px;
}

.sec .latest > img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sec .latest .text {
  position: absolute;
  bottom: 30px;
  right: 15px;
  left: 15px;
  text-align: center;
}

.sec .latest .text h2 {
  color: #ffffff;
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 20px;
}

.sec .latest .text div {
  color: #ffffff;
  font-size: 12px;
}

.sec .latest .text div span {
  margin-left: 12px;
}

.sec .latest .text div img {
  vertical-align: middle;
  margin-left: 6px;
}

.sec .slider {
  width: 74%;
  height: 420px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.sec .slider .pic {
  position: absolute;
  height: 200%;
  width: 100%;
  top: -250px;
}

.sec .slider .counter {
  position: absolute;
  bottom: 0px;
  left: -2px;
}

.sec .slider .text {
  position: absolute;
  bottom: 30px;
  right: 30px;
  left: 30px;
}

.sec .slider h2 {
  color: #ffffff;
  font-size: 21px;
  margin-bottom: 15px;
}

.sec .slider p {
  color: #ffffff;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 20px;
}

.sec .slider .text div {
  color: #ffffff;
  font-size: 12px;
}

.sec .slider .text div span {
  margin-left: 12px;
}

.sec .slider .text div img {
  vertical-align: middle;
  margin-left: 6px;
}
