* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: iranyekan !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: iranyekan !important;
}
h1 {
  font-weight: bold;
}

/*************** import ***************/
@import url(/Flex/WebFonts/css/fontiran.css);

/*************** cintainer ***************/
.container {
  width: 65%;
  margin: 0 auto;
  margin-bottom: 40px;
}

/*************** header ***************/
header {
  box-shadow: 0px 1px 30px 0px rgba(1, 89, 245, 0.3);
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.top-header .menu {
  display: flex;
  color: #929292;
}

.top-header .menu li a {
  color: #929292;
  font-size: 15px;
}

.top-header .menu li a.active {
  font-weight: 900;
}

.top-header .menu li::after {
  content: "/";
  margin: 0 1.5rem;
}

.top-header .menu li:last-child::after {
  content: "";
}

.top-header .member {
  display: flex;
}

.top-header .member .user {
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
  border: 2px solid #0159f5;
  border-radius: 40px;
  background-color: #fff;
}

.top-header .user .icon-arrow img {
  width: 10px;
  height: 10px;
}

.top-header .user .text {
  color: #929292;
  font-size: 16px;
  margin: 0 1rem;
}

.top-header .card {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  border: 2px solid #0159f5;
  border-radius: 100%;
}

/*************** sec ***************/
.sec {
  display: flex;
  justify-content: space-between;
}

/*************** latest ***************/
.sec > div {
  position: relative;
}

.sec .latest {
  width: 23%;
  height: 420px;
  overflow: hidden;
  border-radius: 20px;
}

.sec .latest > img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sec .latest .text {
  position: absolute;
  bottom: 30px;
  right: 15px;
  left: 15px;
  text-align: center;
}

.sec .latest .text h2 {
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
}

.sec .latest .text div {
  color: #ffffff;
  font-size: 15px;
}

.container .profile {
  margin-left: 12px;
}

.sec .latest .text div img {
  vertical-align: middle;
  margin-left: 6px;
}

/*************** slider ***************/
.sec .slider {
  width: 74%;
  height: 420px;
  border-radius: 20px;
  overflow: hidden;
}

.sec .slider .pic {
  position: absolute;
  height: 200%;
  width: 100%;
  top: -250px;
}

.sec .slider .counter {
  position: absolute;
  bottom: 0px;
  left: -2px;
}

.sec .slider .text {
  position: absolute;
  bottom: 30px;
  right: 30px;
  left: 30px;
}

.sec .slider h2 {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 15px;
}

.sec .slider p {
  color: #ffffff;
  font-size: 17px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 20px;
}

.sec .slider .text div {
  color: #ffffff;
  font-size: 15px;
}

.sec .slider .text div img {
  vertical-align: middle;
  margin-left: 6px;
}

/*************** form ***************/
.form {
  height: 40px;
}

.form span a {
  color: rgb(2, 90, 245);
  font-size: 20px;
  font-weight: 900;
}

/*************** blog ***************/
.blog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  background-image: -webkit-linear-gradient(
    rgb(255, 255, 255),
    rgb(250, 250, 250),
    rgb(255, 255, 255),
    rgb(250, 250, 250),
    rgb(255, 255, 255)
  );
}

.blog-item {
  background-color: #ffffff;
  border-radius: 30px;
  padding: 1.5rem 0;
}

.blog-img {
  height: 230px;
}

.blog-img img {
  object-fit: cover;
  border-radius: 30px;
  width: 100%;
  height: 100%;
}

.blog-item:nth-child(3n + 1) .blog-img img {
  border-bottom-left-radius: 0px;
}

.blog-item:nth-child(3n) .blog-img img {
  border-bottom-right-radius: 0px;
}

.blog-middle {
  color: #505050;
  padding: 1.5rem;
}

.blog-middle .blog-title {
  font-size: 16px;
  margin-bottom: 20px;
}

.blog-middle .blog-text {
  font-size: 15px;
  line-height: 45px;
  text-align: justify;
}

.blog-footer {
  display: flex;
  align-items: center;
  color: #929292;
  font-size: 13px;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
}

.blog-footer span {
  display: flex;
  align-items: center;
  margin: 0 !important;
}

.blog-footer img {
  margin-left: 9px;
  width: 21px;
}

.blog-footer .btn-blue {
  padding: 7px 25px;
  color: #ffffff;
  background-color: #0159f5;
  border-radius: 50px;
}

/******* blog-wide *******/

.blog-item-wide {
  display: flex;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 4;
}

.blog-item-wide .blog-img {
  width: 60%;
}

.blog-item-wide .blog-img img {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.blog-item-wide .blog-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #929292;
  font-size: 13px;
  padding: 0.5rem 1.5rem;
}

.blog-item-wide .blog-footer span {
  margin-left: 30px !important;
}
