/*_ mixed-in for ( display=flex; flex=1;)_*/
/*_ mixed-in for ( display=flex;)_*/
/*_ mixed-in for ( display=flex; - up to down = center , right to left = center )_*/
/*_ mixed-in for ( display=flex; - up to down = center , right to left = space-between )_*/
@import url(/WebFonts/css/fontiran.css);
/******* header menu(sub-menu) *******/
.top-header .top-menu .menu .sub-menu {
  display: none;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(119, 119, 119, 0.5);
          box-shadow: 0 0 10px rgba(119, 119, 119, 0.5);
  border-radius: 17px;
  width: 250px;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(20%, 105%);
          transform: translate(20%, 105%);
  z-index: 999;
}

.top-header .top-menu .menu .sub-menu::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 13px 13px 13px;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  top: -12px;
  right: 80px;
  margin: 0 auto;
}

.top-header .top-menu .menu .sub-menu li {
  border-bottom: 1px dashed #929292;
}

.top-header .top-menu .menu .sub-menu li:last-child {
  border-bottom: none;
}

.top-header .top-menu .menu .sub-menu li a {
  color: #929292;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 15px;
  font-size: 13px;
}

.top-header .top-menu .menu .sub-menu li a:hover {
  text-shadow: 0 0 1px #bbbbbb;
}

.top-header .top-menu .menu .sub-menu li a .sub-menu-icon {
  margin-left: 10px;
  height: 40px;
  width: 30px;
  background-color: rgba(86, 199, 110, 0.3);
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -moz-flex;
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 15px;
}

.top-header .top-menu .menu .sub-menu li a .title {
  color: #929292;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 3px;
}

.top-header .top-menu .menu .sub-menu li a .text {
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top-header .top-menu .menu .sub-menu li a i.flex-icons8-key {
  color: #56c76e;
  display: block;
}

/****************************** blog pagination ******************************/
.container .pagination {
  width: 100%;
  margin: 60px 0;
}

.container .pagination ul {
  direction: ltr !important;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -moz-flex;
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 27%;
  margin: 0 auto;
}

.container .pagination ul li {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -moz-flex;
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 18px;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  font-size: 14px;
  color: #929292;
}

.container .pagination ul li.active {
  background-color: #025af5;
  color: #ffffff;
}

.container .pagination ul li:not(.flex):hover {
  background-color: #025af5;
  color: #ffffff;
}

.container .pagination ul li.line {
  height: 0;
  width: 25px;
}

.container .pagination ul .flex-right-arrow {
  width: 54px;
  height: 54px;
  border-radius: 27px;
  -webkit-filter: drop-shadow(3px 5.196px 4.5px rgba(0, 0, 0, 0.06));
          filter: drop-shadow(3px 5.196px 4.5px rgba(0, 0, 0, 0.06));
  background-color: #ffffff;
}

.container .pagination ul .flex-left-arrow {
  width: 54px;
  height: 54px;
  border-radius: 27px;
  -webkit-filter: drop-shadow(3px 5.196px 4.5px rgba(0, 0, 0, 0.06));
          filter: drop-shadow(3px 5.196px 4.5px rgba(0, 0, 0, 0.06));
  background-color: #055bf5;
}

/****************************** footer ******************************/
footer {
  position: relative;
  background-color: #f8f9fa;
}

/******* call of footer *******/
footer .call {
  width: 510px;
  height: 110px;
  background: url(/images/footer/footer-bg.png) no-repeat center;
  background-size: contain;
  position: absolute;
  left: 0;
}

footer .call .call-content {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -moz-flex;
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  right: 75px;
  top: 17px;
}

footer .call .call-content i {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -moz-flex;
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 20px;
  width: 42px;
  height: 42px;
  border-radius: 21px;
  background-color: #ebf2ff;
}

footer .call .call-content .text {
  margin-right: 10px;
}

footer .call .call-content .text p {
  font-size: 14px;
  line-height: 18px;
  color: #025af5;
}

footer .call .call-content .text p:nth-of-type(2) {
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: bold;
}

/******* content of footer *******/
footer .content {
  height: 350px;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -moz-flex;
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #505050;
  padding: 45px 0 30px 0;
  font-size: 13px;
}

footer .content .title {
  font-size: 14px;
  color: #025af5;
  font-weight: bold;
}

footer .content .about {
  height: 100%;
  width: 30%;
  font-size: 14px;
  line-height: 30px;
  text-align: justify;
}

footer .content .about .logo {
  margin-bottom: 10px;
}

footer .content .services {
  height: 85%;
  width: 12%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -moz-flex;
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-right: 55px;
}

footer .content .services .links {
  height: 80%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -moz-flex;
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
}

footer .content .services .links a {
  color: #505050;
}

footer .content .services .links a:hover {
  text-shadow: 0 0 2px #888888;
}

footer .content .services-2 {
  padding-right: 30px;
}

footer .content .symbols {
  width: 32%;
  height: 85%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -moz-flex;
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
}

footer .content .symbols .symbols-img {
  width: 100%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -moz-flex;
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

footer .content .symbols .symbols-img div {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -moz-flex;
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 124px;
  height: 128px;
  border-radius: 21px;
  background-color: #ffffff;
}

footer .content .social {
  width: 100%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -moz-flex;
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

footer .content .social .social-title {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

footer .content .social span {
  font-size: 26px;
  position: relative;
  cursor: pointer;
}

footer .content .social span::before {
  vertical-align: middle;
}

footer .content .social span:hover::before {
  color: #1768f6;
}

footer .content .social span a {
  display: none;
  margin-left: 5px;
  font-family: iranyekan !important;
  font-size: 18px;
  color: #1768f6;
}

footer .content .social span.active::before {
  color: #1768f6;
}

footer .content .social span.active::after {
  content: "";
  cursor: default;
  width: 65%;
  border: 1px dashed #1768f6;
  -webkit-transform: scaleX(1.5) translate(34%, 0);
          transform: scaleX(1.5) translate(34%, 0);
  position: absolute;
  bottom: -8px;
  right: 50%;
}

/******* footer of footer *******/
footer .footer-footer {
  padding: 15px 0 25px 0;
  border-top: 1px solid #ebebeb;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -moz-flex;
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  font-size: 12px;
  color: #505050;
}

footer .footer-footer .left p {
  direction: ltr !important;
}

footer .footer-footer .left p a {
  font-size: 12px;
  text-decoration: underline;
  color: #025af5;
  font-weight: bold;
}
