* {
  direction: rtl;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none !important;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: iranyekan !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: iranyekan !important;
}

h1 {
  font-weight: bold;
}

input,
textarea,
button,
select {
  font-family: iranyekan;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
}

button,
input[type="submit"] {
  cursor: pointer;
  border: none;
}

/****************************** import ******************************/
@import url(/WebFonts/css/fontiran.css);

/****************************** container ******************************/
.container {
  width: 70%;
  margin: 0 auto;
}

/****************************** header ******************************/
header {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0px 2px 20px 0px rgba(1, 89, 245, 0.2);
  margin-bottom: 41px;
  z-index: 999;
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 101px;
}

/******* header menu *******/
.top-header .top-menu .menu {
  display: flex;
  color: #929292;
  font-size: 16px;
  transform: translateX(16%);
}

.top-header .top-menu .menu > li {
  position: relative;
}

.top-header .top-menu .menu > li > a {
  position: relative;
  color: #929292;
  line-height: 36px;
  text-align: center;
  width: 85px;
  display: inline-block;
}

.top-header .top-menu .menu > li > a:hover,
.top-header .top-menu .menu > li > a.active {
  text-shadow: 0 0 1px #888;
}

/* .top-header .top-menu .menu > li > a:hover .sub-menu {
  display: block;
} */

.top-header .top-menu .menu > li > a.active::after {
  content: "";
  width: 9px;
  height: 2px;
  border-radius: 1px;
  background-color: #025af5;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 10px #0159f5;
}

.top-header .top-menu .menu > li > a:hover:after {
  content: "";
  width: 9px;
  height: 2px;
  border-radius: 1px;
  background-color: #025af5;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 10px #0159f5;
}

.top-header .top-menu .menu > li::after {
  content: "/";
  font-size: 18px;
  line-height: 36px;
  color: #cdcdcd;
  font-weight: 300;
  margin: 0 10px;
}

.top-header .top-menu .menu > li:last-child::after {
  content: "";
  display: none;
}

/******* header member *******/
.top-header .member {
  display: flex;
}

.top-header .member .user {
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #0159f5;
  border-radius: 21px;
}

.top-header .user .text {
  color: #929292;
  font-size: 16px;
  line-height: 36px;
  margin: 0 16px;
}

.top-header .user .icon {
  height: 15px;
}

.top-header .user .icon-arrow {
  height: 23px;
}

.top-header .card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.5rem;
  width: 42px;
  height: 42px;
  border: 1px solid #0159f5;
  border-radius: 100%;
}

/****************************** sec ******************************/
.sec {
  display: flex;
  justify-content: space-between;
}

/****************************** latest ******************************/
.sec > div {
  position: relative;
}

.sec-slider {
  margin-bottom: 35px;
}

.sec-slider .latest {
  width: 23%;
  height: 419px;
  overflow: hidden;
  border-radius: 20px;
}

.sec-slider .latest > img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sec-slider .latest .text {
  position: absolute;
  bottom: 30px;
  right: 15px;
  left: 15px;
  text-align: center;
}

.sec-slider .text h2 {
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
}

.sec-slider .text div {
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
}

.sec-slider .profile {
  margin-left: 12px;
}

.sec-slider .text div img {
  vertical-align: middle;
  margin-left: 6px;
}

.sec-slider .text div .profile img {
  width: 14px;
  height: 20px;
}

.sec-slider .text div .time img {
  width: 20px;
  height: 20px;
}

/****************************** slider ******************************/
.sec-slider .slider {
  width: 74%;
  height: 419px;
  overflow: hidden;
}

.sec-slider .slider .slider-content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
}

.sec-slider .slider .pic {
  position: absolute;
  height: 200%;
  width: 100%;
  top: -250px;
}

.sec-slider .slider .text {
  position: absolute;
  bottom: 30px;
  right: 30px;
  left: 30px;
}

.sec .slider h2 {
  text-align: right;
  margin-bottom: 15px;
}

.sec .slider p {
  color: #ffffff;
  font-size: 14px;
  line-height: 33px;
  margin-bottom: 25px;
}

.sec .slider .counter {
  background: url("/images/slider/other.png") no-repeat;
  width: 282px;
  height: 96px;
  position: absolute;
  bottom: -1px;
  left: -2px;
}

.sec .slider .counter .content {
  position: absolute;
  bottom: 20px;
  right: 0;
  padding-right: 55px;
  display: flex;
  align-items: center;
}

.sec .slider .counter .counter-text {
  display: flex;
  align-items: flex-end;
  font-size: 12px;
  color: #828282;
}

.sec .slider .counter .counter-text .slash {
  font-size: 18px;
  color: #cdcdcd;
  font-weight: 300;
  margin: 0 5px;
}

.sec .slider .counter .counter-text .page {
  font-size: 18px;
  color: #929292;
}

.sec .slider .counter .dots {
  display: flex;
}

.sec .slider .counter .dots a {
  margin-right: 21px;
  position: relative;
}

.sec .slider .counter .dot {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(136, 136, 136, 0.3);
}

.sec .slider .counter .dots a.active::after {
  content: "";
  position: absolute;
  top: -7px;
  left: -7px;
  width: 19px;
  height: 19px;
  transform: rotate(-45deg);
  border: rgba(136, 136, 136, 0.3) solid 2px;
  border-radius: 50%;
  animation: page-time 4s forwards steps(1, end);
  -webkit-animation: page-time 4s forwards steps(1, end);
}

@keyframes page-time {
  25% {
    border-left: rgba(120, 120, 120, 1) 2px solid;
  }
  50% {
    border-left: rgba(120, 120, 120, 1) 2px solid;
    border-top: rgba(120, 120, 120, 1) 2px solid;
  }
  75% {
    border-left: rgba(120, 120, 120, 1) 2px solid;
    border-top: rgba(120, 120, 120, 1) 2px solid;
    border-right: rgba(120, 120, 120, 1) 2px solid;
  }
  100% {
    border-left: rgba(120, 120, 120, 1) 2px solid;
    border-top: rgba(120, 120, 120, 1) 2px solid;
    border-right: rgba(120, 120, 120, 1) 2px solid;
    border-bottom: rgba(120, 120, 120, 1) 2px solid;
  }
}

@-webkit-keyframes page-time {
  25% {
    border-left: rgba(120, 120, 120, 1) 2px solid;
  }
  50% {
    border-left: rgba(120, 120, 120, 1) 2px solid;
    border-top: rgba(120, 120, 120, 1) 2px solid;
  }
  75% {
    border-left: rgba(120, 120, 120, 1) 2px solid;
    border-top: rgba(120, 120, 120, 1) 2px solid;
    border-right: rgba(120, 120, 120, 1) 2px solid;
  }
  100% {
    border-left: rgba(120, 120, 120, 1) 2px solid;
    border-top: rgba(120, 120, 120, 1) 2px solid;
    border-right: rgba(120, 120, 120, 1) 2px solid;
    border-bottom: rgba(120, 120, 120, 1) 2px solid;
  }
}

/****************************** form ******************************/
.sec-form {
  margin-bottom: 14px;
}

.form {
  height: 40px;
}

.form span a {
  font-size: 18px;
  color: #025af5;
  font-weight: bold;
}

.form form {
  width: 49%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  color: #505050;
}

.form form .select {
  position: relative;
}

.form form select {
  width: 201px;
  height: 42px;
  border-radius: 21px;
  border: none;
  background-color: #f8f9fb;
  padding: 0 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 13px;
  color: #505050;
}

.form form select::-ms-expand {
  display: none;
}

.form form .select::after {
  content: "";
  width: 12px;
  height: 7px;
  position: absolute;
  top: 17px;
  left: 18px;
  background: url("/icons/select-arrow.svg");
}

.form form .search input[type="search"] {
  width: 100%;
  height: 42px;
  border-radius: 21px;
  background-color: #f8f9fb;
  border: none;
  font-size: 13px;
  color: #505050;
  padding: 0 20px;
}

.form form .search input:focus {
  border: #505050 1px solid;
}

.form form .search {
  width: 65%;
  position: relative;
  margin-right: 30px;
}

.form form .search::after {
  content: "";
  width: 19px;
  height: 19px;
  position: absolute;
  top: 11px;
  left: 20px;
  background: url("/icons/search.svg");
  cursor: pointer;
}

.form form .search input[type="submit"]:visited {
  position: absolute;
  top: 11px;
  left: 20px;
  width: 19px;
  height: 19px;
  background: transparent;
  z-index: 5;
}

.form form .search input[type="submit"]:visited {
  border: none;
}
/****************************** blog ******************************/
.blog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}

.blog-item {
  background-color: #ffffff;
  height: 560px;
  border-radius: 21px;
  box-shadow: 0px 10px 15px rgba(204, 204, 204, 0.1);
  padding: 1.5rem 0;
  position: relative;
}

.blog-img {
  height: 45%;
  position: relative;
}

.blog-img img {
  object-fit: cover;
  border-radius: 21px;
  width: 100%;
  height: 100%;
}

.blog-item.first .blog-img img {
  border-bottom-left-radius: 0px;
}

.blog-item.third .blog-img img {
  border-bottom-right-radius: 0px;
}

.blog-img-time {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 13px;
  color: #025af5;
}

.blog-img-time::after {
  content: "";
  width: 15px;
  height: 14px;
  background: url("/images/blog/time-bg-ct.png");
  position: absolute;
  right: 26px;
}

.blog-img-time span {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 50%;
  width: 28px;
  height: 28px;
}

.blog-img-time span:nth-child(2) {
  margin-right: 10px;
  width: 99px;
  height: 28px;
  border-radius: 14px;
}

.blog-item .content {
  height: 55%;
  width: 100%;
  position: absolute;
  bottom: 0px;
  color: #505050;
  padding: 1.25rem;
}

.blog-middle .blog-title {
  font-size: 17px;
  font-weight: bold;
}

.blog-middle .blog-text {
  font-size: 16px;
  line-height: 40px;
  text-align: justify;
  margin: 20px 0;
}

.blog-footer {
  width: 100%;
  display: flex;
  align-items: center;
  color: #999999;
  font-size: 12px;
  padding: 0.75rem 0 2rem 0;
  position: absolute;
  bottom: 0;
}

.blog-footer .blog-footer-text {
  display: flex;
  align-items: center;
  margin: 0 !important;
  margin-left: 20px !important;
}

.blog-footer img {
  height: 20;
}

.blog-footer .blog-footer-img {
  margin-left: 8px;
  position: relative;
}

.blog-footer .blog-footer-text span {
  position: relative;
  height: 20px;
}

.blog-footer .blog-footer-text span::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #999999;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.blog-footer .blog-footer-text span.profile::after {
  background-color: #0159f5;
}

.blog-footer .btn-blue {
  padding: 7px 21px;
  color: #ffffff;
  background-color: #0159f5;
  border-radius: 50px;
  margin-left: 0 !important;
}

/******* blog-wide *******/

.blog-item-wide {
  display: flex;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 4;
  background: url("../images/blog/pic-wide.png") no-repeat left center/58%;
  border-radius: 30px 0px 0px 30px;
  position: relative;
}

.blog-item-wide .blog-img-time {
  left: 30px;
  right: auto;
}

.blog-item-wide .content {
  width: 63%;
  padding: 20px 0px 30px 160px;
  background-image: linear-gradient(
    to left,
    #ffffff 85%,
    rgba(255, 255, 255, 0.9) 89%,
    rgba(255, 255, 255, 0.8) 91%,
    rgba(255, 255, 255, 0.6) 94%,
    rgba(255, 255, 255, 0.4) 96%,
    rgba(255, 255, 255, 0.2) 98%,
    rgba(255, 255, 255, 0.01) 100%
  );
}

.blog-item-wide .blog-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #929292;
  font-size: 13px;
  padding-bottom: 0;
}

.blog-item-wide .blog-footer > span {
  margin-left: 30px !important;
}

/******* blog-video *******/

.blog-item.video .blog-img {
  height: 100%;
  width: 100%;
}

.blog-item.video .content {
  height: 130px;
}

.blog-item.video .play {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: linear-gradient(
    to top,
    #ffffff 20%,
    rgba(255, 255, 255, 0.9) 25%,
    rgba(255, 255, 255, 0.8) 30%,
    rgba(255, 255, 255, 0.6) 35%,
    rgba(255, 255, 255, 0.3) 40%,
    rgba(255, 255, 255, 0.2) 42%,
    rgba(255, 255, 255, 0.01) 45%
  );
}

#videoPlayer {
  width: 50%;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#videoPlayer #myVideo {
  width: 100%;
  box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.7);
}

#videoPlayer .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  cursor: pointer;
}

.blog-item.video .play .play-btn {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(2, 90, 245, 0.6);
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translateX(-50%);
}

.blog-item.video .play .play-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  /* border: 1px solid rgba(2, 90, 245, 0.6); */
  /* width: 120%;
  height: 120%; */
  animation: play-border 1.5s linear infinite;
}

@keyframes play-border {
  0% {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(2, 90, 245, 0);
  }

  50% {
    width: 115%;
    height: 115%;
    border: 4px solid rgba(2, 90, 245, 0.6);
  }

  100% {
    width: 130%;
    height: 130%;
    border: 1px solid rgba(2, 90, 245, 0);
  }
}

@-webkit-keyframes play-border {
  0% {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(2, 90, 245, 0);
  }

  50% {
    width: 115%;
    height: 115%;
    border: 4px solid rgba(2, 90, 245, 0.6);
  }

  100% {
    width: 130%;
    height: 130%;
    border: 1px solid rgba(2, 90, 245, 0);
  }
}

.blog-item.video .play .play-btn-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 2;
}
