@font-face {
  font-family: "Flex";
  src: url("fonts/Flex.eot?cmjl5a");
  src: url("fonts/Flex.eot?cmjl5a#iefix") format("embedded-opentype"),
    url("fonts/Flex.ttf?cmjl5a") format("truetype"),
    url("fonts/Flex.woff?cmjl5a") format("woff"),
    url("fonts/Flex.svg?cmjl5a#Flex") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.flex {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Flex" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flex-left-arrow:before {
  content: "\e910";
  color: #fff;
}
.flex-right-arrow:before {
  content: "\e911";
  color: #035af5;
}
.flex-call:before {
  content: "\e90f";
  color: #025af5;
}
.flex-instagram:before {
  content: "\e90b";
  color: #dddddd;
}
.flex-linkedin:before {
  content: "\e90c";
  color: #1768f6;
}
.flex-twitter:before {
  content: "\e90d";
  color: #dddddd;
}
.flex-whatsapp:before {
  content: "\e90e";
  color: #dddddd;
}
.flex-arrow:before {
  content: "\e900";
  color: #919191;
}
.flex-card:before {
  content: "\e901";
  color: #21c38b;
}
.flex-icons8-key:before {
  content: "\e902";
}
.flex-play:before {
  content: "\e903";
  color: #fff;
}
.flex-profile:before {
  content: "\e904";
  color: #fff;
}
.flex-profile-blue:before {
  content: "\e905";
  color: #025af5;
}
.flex-search:before {
  content: "\e906";
  color: #025af5;
}
.flex-select-arrow:before {
  content: "\e907";
  color: #505050;
}
.flex-time:before {
  content: "\e908";
  color: #fff;
}
.flex-time-gray:before {
  content: "\e909";
  color: #929292;
}
.flex-user:before {
  content: "\e90a";
  color: #1768f6;
}
