$icomoon-font-family: "Flex" !default;
$icomoon-font-path: "fonts" !default;

$flex-arrow: "\e900";
$flex-card: "\e901";
$flex-icons8-key: "\e902";
$flex-play: "\e903";
$flex-profile: "\e904";
$flex-profile-blue: "\e905";
$flex-search: "\e906";
$flex-select-arrow: "\e907";
$flex-time: "\e908";
$flex-time-gray: "\e909";
$flex-user: "\e90a";

